*{
    box-sizing: border-box;
    font-family: Tahoma,Arial,serif;
}
[class*="col-"]{
    width: 100%;
    float:left;
    padding:10px;
}
@media screen and (max-width:600px){
    header, 
    footer{
            font-size:75%
    }footer ul, 
    header ul{
        flex-direction: column;
        align-items: center;
    }
} /* header và footer cho mobile, menu thu gọn*/
@media screen and (max-width:767px){
    table th, 
    table td{
        display:block;
    }
}/*màn hình mobile*/
@media (min-width:768px) and (max-width:991px){
    .col-d-1 {width: 8.33%;}
    .col-d-2 {width: 16.66%;}
    .col-d-3 {width: 25%;}
    .col-d-4 {width: 33.33%;}
    .col-d-5 {width: 41.66%;}
    .col-d-6 {width: 50%;}
    .col-d-7 {width: 58.33%;}
    .col-d-8 {width: 66.66%;}
    .col-d-9 {width: 75%;}
    .col-d-10 {width: 83.33%;}
    .col-d-11 {width: 91.66%;}
    .col-d-12 {width: 100%;} 
}/*cột cho tablet*/
@media screen and (min-width:992px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}  
}/*cột cho desktop*/